<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Casaris{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/social/css/profile_page.css') }}" rel="stylesheet" />
            <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body style="padding-top: 80px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    {% block navbar %}
                        <div class="navbar navbar-default navbar-fixed-top">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#" style="color: #d9230f">Casaris</a>
                            </div>
                            <div class="navbar-collapse collapse navbar-inverse-collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="#">Perfil</a></li>
                                    <li><a href="#">Amigos</a></li>
                                    <li><a href="#">Galeria</a></li>
                                    <li><a href="#">Fornecedores</a></li>
                                </ul>

                                <ul class="nav navbar-nav navbar-right col-md-5" style="margin-right: -150px">
                                    <div class="col-sm-4">
                                        <form action="" class="search-form">
                                            <div class="form-group has-feedback" >
                                                <label for="search" class="sr-only">Search</label>
                                                <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                                <span class="fa fa-search form-control-feedback text-primary"></span>
                                            </div>
                                        </form>
                                    </div>
{#                                    <p class="navbar-text">
                                        <i class="fa fa-weixin fa-lg text-primary"></i> <a class="text-primary" href="#">13</a>
                                    </p>#}

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-user fa-lg text-primary"></i><span class="caret text-primary"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Perfil</a></li>
                                            <li><a href="#">Alterar Senha</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Sair</a></li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    {% endblock navbar %}
                </div>
            </div>
        </div>

        {% block container %}
            <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="row panel">
                    <div class="col-md-4 bg_blur ">
                        {% block btn_add %}
                            <a href="#" class="follow_btn hidden-xs">Adicionar</a>
                        {% endblock %}
                    </div>
                    <div class="col-md-8  col-xs-12">
                        <div class="row">
                            <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail picture hidden-xs" />
                            <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail visible-xs picture_mob" />
                            {% block profile %}
                            <div class="header">
                                <h1>
                                    {% block name_user %}
                                        Lorem Ipsum
                                    {% endblock name_user %}
                                </h1>
                                <h4><p class="text-primary">{% block profession %} Web Developer {% endblock %}</p></h4>
                                <span>
                                    {% block description %}
                                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                                    "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
                                    {% endblock description %}
                                </span>
                            </div>
                            {% endblock profile %}
                        </div>
                        {% block contact %}
                        {% endblock contact %}
                    </div>   
                </div>
            </div>
        {% endblock container %}
        {% block javascripts %}
            <script src="{{ asset('/js/jquery.min.js') }}"></script>
            <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>