{% extends '::login.base.html.twig' %}
{% block container %}
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-xs-11">

                <div class="row">
                    <div class="col-xs-5">
                    </div>
                    <div class="col-xs-3">
                        {% if error %}
                            <div class="alert alert-dismissible alert-danger">{{ error.message }}</div>
                        {% endif %}
                        <div class="well">
                            <form action="{{ path('_login_check') }}" method="post">
                                <div class="form-group">
                                    <label for="username" class="control-label">Login</label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input class="form-control" value="{{ last_username }}" name="_username" type="text" placeholder="Email address">
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label">Senha</label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </span>
                                        <input name="_password" class="form-control" type="password" placeholder="Password">
                                    </div> 
                                    <span class="help-block"></span>
                                </div>
                                <div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>

                                <p><h6><a href="/recuperar_senha">Esqueci minha senha</a></h6></p>

                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                                <a href="{{ path("_register") }}" class="btn btn-info btn-block">Crie sua conta</a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}
